.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 50%;
  height: 50vh;

  background: conic-gradient(
    from 167.77deg at 26.05% 40.64%,
    rgba(207, 238, 187, 0.881587) -18.97deg,
    #abe1c9 8.74deg,
    #80cdd7 160.76deg,
    #7c9ce5 225.35deg,
    rgba(126, 163, 230, 0.22) 298.84deg,
    rgba(207, 238, 187, 0.881587) 341.03deg,
    #abe1c9 368.74deg
  );
  filter: blur(150px);
}
